html{
	scroll-behavior: smooth;
  }
  /*螢幕大小顯示*/
  @media (min-width:440px) {
	  .Main_options_row{
		  padding: 10px 52px 3px 52px;	
	  }
  }
  @media (max-width:440px) {
	  .Main_options_row{
		  padding: 3px 12px 0px 12px;	
	  }
  } 
  /*----------基礎設定--------*/
  body{
	max-width: 1440px;
	margin: auto;
	padding:0;
	  /* background: #FFF8E4; */
  }
  a:link{
	color: #605D51;
	text-decoration:none;
  }
  a:hover{
	color: #A82125;
  }
  a {
	color: #222222;
  }
  h1 {
	font-size: 30px;
	line-height: 40px;
  }
  h2 {
	  font-size: 20px;
	line-height: 20px;
	  font-weight: 500px;
	  color: #583C21;
  }
  h3{
	font-size: 120%;
	  text-align: center;
	  line-height: 35px;
  }
  h4{
	font-size: 25px;
	line-height: 40px;
	  text-align: center;
  }
  h5{
	font-size: 113%;
	line-height: 25px;
	  font-weight: 500px;
	  color: #921414;
	  text-align: center;
	  vertical-align: middle;
  }
  h6{
	font-size: 120%;
	  font-weight: 800px;
	  color: #B7A99C;
	  text-align: center;
  }
  
  p{
	  font-size: 15px;
	line-height: 27px;
  }
  .text{
	  line-height: 24px;
	  font-size: 14px;
  }
  img{
	  width: 100%;
	  padding: 0px;
	  margin: auto;
  }
  
  /* -------------------about_me----------------- */
  .about_me{
	  background-color: #FFFCF5;
	  padding: 10px;
  }
  .about_contact_lt{
	  width: 90%;
	  margin: auto;
	  padding-top: 30px;
	  max-width: 350px;
  }
  .about_contact_rt{
	  width: 90%;
	  margin: auto;
  }
  .about_img{
	  border-radius: 220.5px;
	  min-height: 200px;
	  min-width: 200px;
	  margin: auto;
	  height: 20vw;
	  width: 20vw;
	background-size: 100%;
	background-image: url(./imgs/火扇.png);
	background-repeat: no-repeat;
  }
  /* -----------------about_me  end----------------- */
  .ee{
	  height: 400px;
  }
  /* .my_life{
	  background-color: #FFEFC6
  } */
  .Main_options_row{
	  position: sticky;
	  top: 0px;
	  z-index: 2;
	  background-color: #FFEFC6
  }
  .Main_options{
	  padding: 7px;
  }
  .Secondary_options.active{
	  text-decoration: none;
	  color: #921414;
	  border-bottom: solid 3px #921414;
  }
  
  .Secondary{
	  display: none;
  }
  .Secondary_container{
	  position: sticky;
	  top:55px;
	  z-index: 2;
	  overflow-x: auto;
	  display: flex;
	  background-color: #FFF;
	  border-bottom:solid 1px #3A3845 ;
  }
  .Secondary_options{
	  width: 100%;
	  white-space: nowrap;
	  margin: 12px 10px 2px 10px ;
  }
  .Secondary_options.active{
	  text-decoration: none;
	  color: #921414;
	  border-bottom: solid 3px #921414;
  }
  .theme{
	  position: relative;
	  padding: 15px;
	  margin-top:-100px ;
  }
  .theme_title{
	  font-size: 140%;
	  margin: 100px 0px 15px 0px;
	  padding: -100px 0px 0px 0px;
  }
  
  /* .summary_img{
  
  } */
  /*----------------- 自傳 start--------------*/
  /* 地區 start*/
  .summary_text{
	  vertical-align: middle;	
  }
  .summary_lt{
	  width: 90%;
	  padding: 5px;
  }
  .summary_rt{
	  margin-right: 20px;
	  margin: auto;
	  padding: 5px;
  }
  .area{
	  margin: 15px;
  }
  .area_ball{
	  border-radius: 40.5px;
	  border: solid;
	  width: 70px;
	  height: 70px;
	  margin: auto;
	  position: relative;
	  background-color: #FFE8A4;
  }
  .area_text{
	  text-align: center;
	  position: relative;
	  z-index: 1;
	  padding-top: 7px;
	  font-size: 95%;
	  line-height: 145%;
  }
  .area_line{
	  height: 4px;
	width: 25%;
	  margin-left: 10%;
	background-color: #e66f6f;
	  margin-top: 33px;
	  position: absolute;
  }
  .family_text{
	  margin: auto;
  }
  @media (min-width:760px) {
	  .family_text{
		  width: 70%;
	  }
	  .row {
		  display: flex;
		  flex-wrap: nowrap;
		  align-content: center;
		  align-items: center;
	  }
		.summary_lt{
			float: right;
		}
  }
  @media (max-width:760px) {
	  .family_text{
		  width: 90%;	
	  }
		.summary_lt{
			margin: auto;
		}
  } 
  
  /*----------------- 活動 Activity_cadres start--------------*/

  @media (min-width:760px) {
		.Activity_lt{
			float: right;
		}
  }
  @media (max-width:760px) {
		.Activity_lt{
			margin: auto;
		}
		.Activity_information{
			text-align:center;
		}
		.Activity_img{
			display: flex;
		}
  } 
	.Activity{
		width: 85%;
		padding: 10px 10px 10px 10px;
		margin: auto;
		background-color: #B4CDF1;
	}
  .Activity_title_1{
	  font-size: 20px;
		padding: 15px;
	  color: #000;
	  margin: auto;
	  text-align: center;
		white-space:nowrap;
  }
	.Activity_information{
	  font-size: 17px;
		white-space:nowrap;
  }
	.Activity_img{
		border-radius: 20.5px;
	  min-height: 150px;
	  min-width: 150px;
	  height: 23vw;
	  width: 23vw;
		background-size: 100%;
		background-repeat: no-repeat;
	}
  .Activity_text{
	  width: 100%;	
  }
  .Activity_lt{
	  margin: auto;
	  width: 80%;
	  padding: 5px;
  }
  .Activity_rt{
	  margin: auto;
		width: 70%;
	  padding: 5px;
  }
  
  /*----------------- 專題 Spractice--------------*/
  .Spractice{
	  vertical-align: middle;	
  }
  .Spractice{
	  margin: auto;
	  width: 95%;
	  padding: 5px;
  }
  .Spractice{
	  margin: auto;
	  padding: 5px;
  }
  
  /*----------------- 其他 Other start--------------*/
  .Other_text{
	  vertical-align: middle;	
  }
  .Other_lt{
	  margin: auto;
	  width: 95%;
	  padding: 5px;
  }
  .Other_rt{
	  margin: auto;
	  padding: 5px;
  }