html{
  scroll-behavior: smooth;
}
:root {
  scroll-padding-top: 60px;
}
/*螢幕大小顯示*/
@media (min-width:440px) {
	.Main_options_row{
		padding: 20px 52px 10px 52px;	
	}
}
@media (max-width:440px) {
	.Main_options_row{
		padding: 20px 12px 10px 12px;	
	}
} 
/*----------基礎設定--------*/
body{
  max-width: 1440px;
  margin: auto;
  padding:0;
	/* background: #FFF8E4; */
}
a:link{
  color: #605D51;
  text-decoration:none;
}
a:hover{
  color: #A82125;
}
a {
  color: #222222;
}
h1 {
  font-size: 30px;
  line-height: 40px;
}
h2 {
  font-size: 25px;
  line-height: 40px;
	text-align: center;
}
h3{
  font-size: 120%;
	text-align: center;
	line-height: 50px;
}
h4{
  font-size: 20px;
  line-height: 20px;
	font-weight: 500px;
	color: #583C21;
}
h5{
  font-size: 113%;
  line-height: 45px;
	font-weight: 500px;
	color: #921414;
	text-align: center;
}
h6{
  font-size: 120%;
	font-weight: 800px;
	color: #B7A99C;
	text-align: center;
}

p{
	font-size: 15px;
  line-height: 24px;
}
.text{
	line-height: 24px;
	font-size: 14px;
}
nav a:active{
	border-bottom: solid 3px #921414;
}
/*置頂----------------------------------------------------*/
/* .top-Anchor{
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 100;
  color: #e7e7e6;
  padding: 0;
  font-size: 3.5em;
}
.top-Anchor a:link{
  color: #e7e7e6;
} */

/* -------------------about_me----------------- */
.about_me{
	border: solid;
	background: #FFE8A4;
}
.about_contact{
	margin: 0px;
	padding: auto;
	width:80%;
}
.ee{
	height: 1000px;
}
/*-------------------- details---------------- */
.details{
	padding: 0px;
	background: #F8F7EF;
	width: 100%;
}
.details_container{
	padding: 0px;
	margin:0px auto 0px auto;
	width: 100%;
}
.details_title{
	padding: 0px;
	margin:0px auto 0px auto;
	width: 100%;
}
.Main_options_row{
	position: sticky;
	top:0px;	
	z-index: 2;
	background: #E0E0E0;
}
.Main_options{
	padding: 7px;
}
.Main_options.active {
	text-decoration: none;
	color: #921414;
	border-bottom: solid 3px #921414;
}
.Secondary{
	position: sticky;
	top:80px;
	z-index: 2;
	display: none;
}
.Secondary_container{
	overflow-x: auto;
	margin:0px auto 0px auto;
	display: flex;
	justify-content: space-evenly;
	background-color: #FFF;
	border-bottom:solid 1px #3A3845 ;
}
.Secondary_options{
	white-space: nowrap;
}
.Secondary_options.active{
	text-decoration: none;
	color: #921414;
	border-bottom: solid 3px #921414;
}
.theme{
  padding-top: 90px;
	max-width: 950px;
	margin:-90px auto auto auto;
}
.Secondary_content{
	position: relative;
	background-color: #FFFDF7;
}
/*----------------- 自傳 start--------------*/
/* 地區 start*/
.area{
	margin: 15px;
}
.area_ball{
	border-radius: 40.5px;
	border: solid;
	width: 70px;
	height: 70px;
	margin: auto;
	position: relative;
	background-color: #FFE8A4;
}
.area_text{
	text-align: center;
	position: relative;
	z-index: 1;
	padding-top: 7px;
}
.area_line{
	height: 4px;
  width: 25%;
	max-width: 280px;
	margin-left: 7%;
  background-color: #e66f6f;
	margin-top: 33px;
	position: absolute;
}
/* 地區 end*/
/* 學習歷程 start*/

/* 學習歷程 end*/
/* 學習歷程 start*/

/* 學習歷程 end*/

/* https://www.tpisoftware.com/tpu/articleDetails/2905 */