html{
	scroll-behavior: smooth;
}
  /*----------基礎設定--------*/
body{
	max-width: 1440px;
	margin: auto;
	padding:0;
	  /* background: #FFF8E4; */
  }
a:link{
	color: #ED9B46;
	text-decoration:none;
}
a:hover{
	color: #495F82;
}
a{
	color: #B8A364;
}
h1 {
	font-size: 30px;
	line-height: 40px;
}
h2 {
	font-size: 20px;
  line-height: 20px;
	font-weight: 500px;
	color: #583C21;
}
h3{
	font-size: 120%;
	text-align: center;
  line-height: 35px;
}
h4{
	font-size: 25px;
	line-height: 40px;
	text-align: center;
}
h5{
	font-size: 113%;
	line-height: 25px;
	font-weight: 500px;
	text-align: center;
	vertical-align: middle;
  }
h6{
	font-size: 120%;
	font-weight: 800px;
  color: #B7A99C;
  text-align: center;
}
p{
	font-size: 15px;
	line-height: 27px;
}
.text{
	line-height: 24px;
  font-size: 14px;
}
img{
	margin: auto;
}
  /*螢幕大小顯示*/
@media (min-width:440px) {
	.Main_options_row{
	  padding: 10px 52px 3px 52px;	
	}
}
@media (max-width:440px) {
	.Main_options_row{
	  padding: 3px 12px 0px 12px;	
	}
} 
/* -----------icon ---------*/
.next{
	width: 40px;
		text-align: center;
		margin: auto;
		position: relative;
		font-size: 26px;
		margin-left: 2px;
		margin-right: 40px;
		color: #AA5C30;
}
.next_icon{
    height: 35px;
    width: 35px;
    font-size: 35px;
    line-height: 28px;
    border-radius: 40px;
    background-color: #FDF0CC;
    color: #8B7448;
    border: 1px solid #FCE3B1;
}
.next_icon_list{
    height: 10px;
    width: 10px;
    font-size: 5px;
    line-height: 4px;
    border-radius: 20px;
    background-color: #FDF0CC;
    color: #8B7448;
    border: 1px solid #FCE3B1;
	white-space:pre;
}
.top-Anchor{
	position: fixed;
	bottom: 20px;
	right: 24px;
	z-index: 100;
	color: #e7e7e6;
	padding: 0px;
	font-size: 2.8em;
}
.fa-arrow-circle-up{
	border-radius: 40.5px;
	background-color: #B7A99C;
}

/* 圖片右移 */
.Activ_container{
	overflow-x: auto;
	display: flex;
}
.malert30{
	margin-left: 10px;
}
  /* -------------------about_me----------------- */
  .about_me{
	  background-color: #FFFCF5;
	  padding: 10px;
  }
  .about_contact_lt{
	  width: 90%;
	  margin: auto;
	  padding-top: 30px;
	  max-width: 350px;
  }
  .about_contact_rt{
	  width: 90%;
	  margin: auto;
  }

  .about_img{
	  border-radius: 220.5px;
	  min-height: 200px;  
	  min-width: 200px;  
	  height: 20vw;
	  width: 20vw;
	background-size: 100%;
	background-repeat: no-repeat;
  }
.about_color{
	font-size: 2vw;
}

  /* -----------------about_me  end----------------- */
  /* .my_life{
	  background-color: #FFEFC6
  } */
  .Main_options_row{
	  position: sticky;
	  top: 0px;
	  z-index: 2;
	  background-color: #FFEFC6;
  }
  .Main_options{
	  padding: 7px;
	  text-decoration: none;
	
  }
.Main_options_row a{
	color: #3A3845;
  }
	.Main_options_row :hover{
		color: #474032;
		 }
  .Secondary_options.active{
	  text-decoration: none;
	  color: #921414;
	  border-bottom: solid 3px #921414;
  }
  .Secondary{
	  display: none;
  }
  .Secondary_container{
	  position: sticky;
	  top:55px;
	  z-index: 2;
	  overflow-x: auto;
	  display: flex;
	  background-color: #FFF;
	  border-bottom:solid 1px #B5B7BB;
  }
	.Secondary_container a{
		color: #8D8D8D;
  }
	.Secondary_container :hover{
		color: #2F59A2;
		font-weight: 700;
  }
	.Secondary_options:hover{
		color: #2F59A2;
		font-weight: 700;
		border-bottom:3px solid #31547C;
  }
  .Secondary_options{
	  width: 100%;
	  white-space: nowrap;
	  margin: 12px 10px 2px 10px ;
  }
  .theme{
	  position: relative;
	  padding: 15px;
		margin: -100px auto auto auto;
  }
  .theme_title{
	  font-size: 140%;
	  margin: 100px 0px 15px 0px;
	  padding: -100px 0px 0px 0px;
  }
  .illustrate{
		text-align: center;
		width: 20%;
		min-width: 100px;
		margin:auto;
	}
	.The_illustrate{
		display: none;
		text-align: left;
		font-size: 12px;
		width: 380px;
		margin: auto;
	}
	.The_Table{
		display: none;
		min-width: 200px;
		text-align: left;
		font-size: 12px;
	}
  /* .summary_img{
  
  } */
  /*----------------- 自傳 start--------------*/
  /* 地區 start*/
  .summary_text{
	  vertical-align: middle;	
  }
  .summary_lt{
	  width: 90%;
	  padding: 5px;
  }
  .summary_rt{
	  margin-right: 20px;
	  margin: auto;
	  padding: 5px;
  }
  .area{
	  margin: 15px;
  }
  .area_ball{
	  border-radius: 40.5px;
	  border: 2px solid #626060;
	  width: 70px;
	  height: 70px;
	  margin: auto;
	  position: relative;
	  background-color: #F6EFD2;
  }
  .area_text{
	  text-align: center;
	  position: relative;
	  z-index: 1;
	  padding-top: 13px;
	  font-size: 85%;
	  line-height: 145%;
		color: #3A3845;
		font-weight: 700;
  }
.area_line{
	height: 4px;
	width: 25%;
	margin-left: 10%;
	background-color: #494024;
	margin-top: 33px;
	position: absolute;
}
.family_text{
	margin: auto;
}
.The_A{
	display: none;
}
.open_all_1{
	font-size: 12px;
	background-color:#E9F3FA ;
	border-radius: 20px;
	width: 15px;
	margin-left: 5px;
	padding: 4px;
}
.open_all_2{
	font-size: 12px;
	background-color:#E9F3FA ;
	border-radius: 20px;
	width: 15px;
	margin-left: 5px;
	padding: 4px;
}
.down_icon{
	font-size: 2px;
	margin-left: 5px;
}
@media (min-width:760px) {
	.family_text{
		width: 70%;
	}
	.row {
		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		align-items: center;
	}
	.summary_lt{
		float: right;
	}
}
  @media (max-width:760px) {
	  .family_text{
		  width: 90%;	
	  }
		.summary_lt{
			margin: auto;
		}
  } 
  
  /*----------------- 活動 Activity_cadres start--------------*/

  @media (min-width:767px) {/* 大 */
	.pato55{
		padding-top: 55px;
	}
	.row_2_1{
		width: 50%;
	}
	.row_2_2{
		width: 50%;
	}
	.Activity_lt{
		float: right;
		height: 23vw;
	}
	.class_lt {
		float: right;
		height: 23vw;
	}
	.Activity_img{
		height: 22vw;	
	}
	.class_img{
		margin: 4vw auto 4vw auto;
		height: 22vw;	
	}
	.straight_img{
		display: flex;
		height: 30vw;	
		margin-bottom: 1vw;	
		margin-top: 1vw;	
	}
	.ppt_img{
		height: 20vw;
		margin-top:4.5vw ;
		margin-bottom: 4.5vw;
	}
	.Activity_information{
		padding-left: 14px;
		margin-left: 35px;
	}
	.class_information{
		margin-left: 20px;
	}
	.class_text{
		margin-left: 20px;
	}
	.area_cadre{
		margin: 15px;
	}
	.cadre_lt{
		float: right;
	}
	.display-min-md{
		display: none;
	}
	.compartmentalize{
		border: solid;
		min-width: 90vw;
	}
	.Cert_img{
		height: 40vw;
	}
	.SCert_img{
		height: 50vw;
	}
			/* 大消失 */
	.Mdis{
		display: none;
	}
	.grades_img_2{
		height: 40vw;
	}
	.teaching_text{
		text-align: left;
		margin: 10px;
	}
	.teaching_img{
		height: 30vw;
		padding-bottom: 4vw;
		display: block;
	}
	.class_lt {
		height: 310px;
	}
	.male{
		margin: 0 0 0 8vw;
	}
}
@media (max-width:767px) {/* 小 */
	.he50p10{
		/* height: 55vw; */
		padding: 5px;
	}
	.he35p10{
		/* height: 35vw; */
		padding: 5px;
	}
	.Activ_rt{
		margin: auto;
	}
	.row_2_1{
		width: 100%;
	}
	.row_2_2{
		width: 100%;
	}
	.Activity_img{
		display: flex;
		height: 45vw;			
	}
	.class_img{
		margin: 1vw auto 8vw auto;
		display: flex;
		height: 40vw;
	}
	.straight_img{
		display: flex;
		height: 55vw;			
	}
	.ppt_img{
		margin: 7vw auto 8vw auto;
		display: flex;
		height: 40vw;
	}
	.area_cadre{
		display: none;
	}
	.cadre_lt{
		margin: auto;
	}
	.cadre_rt{
		margin: auto;
	}
	.Cert_img{
		height: 65vw;
	}
	.SCert_img{
		height: 75vw;
	}
		/* 小消失 */
	.sdis{
		display: none;
	}
	/*小置中*/
	.scent{
		display: block;
	}
	.grades_img_2{
		height: 80vw;
	}	  
	.teaching_img{
		height: 70vw;
		padding-bottom: 4vw;
		padding-top: 2vw;
		display: block;
	}
	.teaching_text{
		background-color: #FAFFFF;
		border-radius: 10px;
		border: 1px solid #E2EFFF;
	}

} 
/* 文字敘述 */
@media (min-width:820px) {	/* 大 */
	.disappear_text{
		width: 90%;
		padding-top:10px ;
		margin: auto;	
		font-size: 13px;
	}
	.Activity_text{
		display: none;
	}
	.Activity{
		height: 33vw;
	}
} 
@media (max-width:820px) {  /* 小 */
	.disappear_text{
		display: none;
	}
	.Activity_text{
		border-radius: 8.5px;
		width: 90%;
		border: 1px solid #EDE9D4;
		margin: 0px auto 25px auto;
		height: 120px;
		overflow: auto;
		padding:2px 10px 2px 10px;
		background-color: #FFF8ED;
	}
} 
.row_2_1{
	float: left;
}
.row_2_2{
	float: left;
	padding: 0px;
}
.Activity{
	width: 85%;
	margin-left: 7.2vw;
	float: left;
	padding: 10px 10px 10px 10px;
}
.style_4{
	background-color: #FDF3EB;
	border-radius: 10px;
	border-top: solid #B7A99C;
	border-bottom: 3px dashed #998A7D;
}
.style_3{
	background-color: #F0F4F8;
	border-radius: 20px;
	border-top: solid #A6AFB8;
	border-bottom: 1px dashed #A6AFB8;
}
.style_2{
	background-color: #FDF3EB;
	border-radius: 50px;
	border-top: solid #B7A99C;
	border-bottom: 3px dashed #998A7D;
}
.style_1{
	background-color: #F4E9D8;
	border-radius: 20px;
	border-top: solid #E6BA6E;
	border-bottom: 1px dashed #E6BA6E;
}
.carousel-indicators{
	z-index: 1;
}
.Activity_title_1{
	font-size: 20px;
	padding-top: 2vw;
	padding-bottom: 10px;
	position: relative;
	color: #000;
	margin: auto;
	text-align: center;
	white-space:nowrap;
}

.class_title{
	font-size: 20px;
	padding-top: 1vw;
	padding-bottom: 10px;
	color: #000;
	margin: auto;
	text-align: center;
	white-space:nowrap;
}

.Activity_title_2{
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	color: #0455;
	margin: auto;
	text-align: center;
	white-space:nowrap;
}
.Activity_information{
	font-size: 17px;
	white-space:nowrap;
}
.class_information{
	padding-left: 20px;
	font-size: 17px;
	font-weight: 500;
	white-space:nowrap;
}
.class_text{
	padding-left: 14px;
	font-size: 17px;
}
.Activity_img{
	margin: 5vw auto 5vw auto;
	border-radius: 20.5px;
	background-size: 100%;
	background-repeat: no-repeat;
	max-height: 350px;
}
.class_img{
	/* margin: 4vw auto 4vw auto; */
	border-radius: 20.5px;
	background-size: 100%;
	background-repeat: no-repeat;
	max-height: 350px;
}
.straight_img{
	border-radius: 20.5px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.ppt_img{
	border-radius: 20.5px;
	background-size: 100%;
	max-height: 330px;
	background-repeat: no-repeat;
}
.Activity_lt{
	margin: auto;
	width: 90%;
	padding: 5px;
}
.class_lt {
	margin: auto;
	width: 90%;
	padding: 5px;
	min-height: 280px;
}
.All_img{
	width: 100%;
	margin: auto;
	min-width: 200px;
}

/* 幹部紀錄 */
.cadre_lt{
	width: 90%;
	margin-bottom: 8px;
	min-width: 350px;
}
.cadre_rt{
	width: 90%;
	margin: auto;
	min-width: 350px;
}
.cadre_card{
	width: 90%;
	margin: auto;
	padding-bottom: 40px;
	background-color: #E8E4E4;
	border-radius: 8px;
	border: 1px solid #A5B8CD;
}
.cadre_card_img{
	height: 22vw;
	display: block;
	border-radius: 15.5px;
	min-height: 180PX;
}
.cadre_card_Simg{
	height: 18vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	display: block;
	border-radius: 15.5px;
	min-height: 165PX;
}
.cadre_source{
	text-align: center;
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	bottom: 10px;
	font-size: 9px;
	line-height: 1px;
	white-space:pre;
}
/* 活動總召 */
.Activ_lt{
	width: 90%;
	margin:0px auto 8px auto;
}
.Activ_rt{
	width: 90%;
}
.Activ_text{
	width: 90%;
	text-align:center;
	margin: auto;
	height: 140px;
	overflow: auto;
}
.Societie{
	width: 90%;
	margin: auto;
}
.Societie_lt{
	margin:0px auto 8px auto;
	padding:0px auto 8px auto;
}
.Societie_rt{
	margin:0px auto 8px auto;
	padding:0px auto 8px auto;
}
.Societie_text{
	width: 85%;
	text-align:center;
	margin: auto;
}

.Societie_img{
	height: 22vw;
	display: block;
	border-radius: 15.5px;
	min-height: 170PX;
}

/*----------------- 專題 Spractice--------------*/
.Corporat_name{
	font-size: 25px;
	line-height: 27px;
	color: #800000;
	font-weight: 900;
}
.Corporat_title{
	color:#303030;
	font-size: 22px;
	line-height: 30px;
	margin-top: 10px;
	text-align: center;
	min-width: 200px;
	font-weight: 600;
}
.Corporat_subtopic{
	color:#583C21;
	font-size: 18px;
	line-height: 24px;
	margin-top: 7px;
	font-weight: 600;
}
.Corporat_text{
	color:#2A2A2A;
	font-size:16px;
	padding: 5px 8px 5px 8px;
}
.Corporat_text_Small{
	color:#426789;
	font-size: 10px;
}
.Corporat_information{
	font-size: 13px;
	line-height: 14px;
	color:#37393F;
}
.Corporat_Small{
	color:#844C2D;
	line-height: 23px;
	font-size: 20px;
	font-weight: 900;
}
.Corporat_important{
	color:#426789;
	font-weight: 700;
	font-size: 17px;
}
.color_1{
	color:#6B689B;
	font-weight: 450;
}
.color_2{
	color:#426789;
	font-size: 10px;
	text-align: center;
}
.Spractice{
	vertical-align: middle;
	margin: auto;
	width: 95%;
	padding: 5px;
}

.cadre_img{
	border-radius: 20.5px;
	width: 90%;
	background-size: 100%;
	background-repeat: no-repeat;
}
/*----------------- 其他 Other start--------------*/
.Other_lt{
	margin: auto;
	width: 95%;
	padding: 5px;
}
.Other_rt{
	margin: auto;
	padding: 5px;
}
.Other_title{
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
}
.Other_text_Small{
	color:#426789;
	font-size: 10px;
}
.Skill_1{
	text-align: center;
	width: 90%;
	margin: auto;
	max-width: 600px;
	border-top: solid;
	border-bottom: solid;
	padding: 10px;
	border-radius: 20.5px;
}
.Skill_2{
	text-align: center;
	width: 90%;
	margin: auto;
	max-width: 600px;
	border-top: solid;
	border-bottom: solid;
	padding: 10px;
	font-size: 100%;
	border-radius: 20.5px;
}
.Skill_3{
	text-align: center;
	width: 90%;
	margin: auto;
	max-width: 600px;
	border-top: solid;
	border-bottom: solid;
	padding: 10px;
	border-radius: 20.5px;
}
.Other_text{
	vertical-align: middle;	
}
.container_Certifications{
	width: 100%;
	margin: auto;
	padding: 10px;
	border-radius: 15px;
	overflow-x: auto;
	display: flex;
	background-color: #E5F2F6;
}
.Cert{
	float: left;
	white-space: nowrap;
	margin: 2vw;
	padding: 5px;
	text-align: center;
}
.Cert_img{
	padding-top: 5vw;
	padding-bottom:5vw ;
	background-size: 100%;
	background-repeat: no-repeat;
}
.SCert_img{
	background-size: 100%;
	background-repeat: no-repeat;
}
.grades_container{
	margin-bottom:10px ;
	margin-top:10px ;
}
.grades_img_1{
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.grades_img_2{
	display: block;
	background-size: 100%;
	background-repeat: no-repeat;
}
.about_title{
	font-size: 20px;
	font-weight: 600;
	color:#2A2A2A;

}
.about_Q{
	/* float: left; */
	font-size: 17px;
	font-weight: 500;
	color: #3A3845;
}
.about_text{
	font-size: 15px;
  }

  .teaching_text{
	height: 170px;
	overflow: auto;
}
.ship{
	margin: auto;
	width: 10px;
}
.ship_img{
	width: 100%;
}
.ship_width{
	width: 90%;
	margin: auto;
}
.footer{
	margin-top: 40px;
	text-align: center;
	padding: 12px;
	font-size: 13px;
	height: 50px; /*設定footer本身高度*/
	background-color: #FFEFC6;
}

.Tline {
	max-width: 850px;
    overflow: hidden;
	width: 95%;
    margin: auto ;
    box-shadow: 0 0 6px #a0a0a0;
}
.Tline ul {
	padding: 0 0 2em 2em;
	margin: 0;
	list-style: none;
	position: relative;
}
.Tline ul::before {
	content: ' ';
	height: 100%;
	width: 3px;
	background-color: #d9d9d9;
	position: absolute;
	top: 0;
	left: 2.5em;
	z-index: -1;
}
.Tliney li div {
	display: inline-block;
	margin: 1em 0;
	vertical-align: top;
}
.Tline .bullet {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border-radius: 50%;
	background: #fff;
	z-index: 1;
	margin-right: 1rem;
	margin-top: 7%;
	float: left;
}
.Tline .bullet.color {
	background-color: #fff;
	border: 3px solid #FFE8A4;
}
.Tline .title {
	font-size: 20px;
	padding-top: 7%;
}
.time_content {
	width: 90%;
	font-weight: 400;
	margin-left: 40px;
}
.little_title{
	font-size: 16px;
}
.The_time {
	margin: 0;
	text-align: left;
	margin-left: 20px;
	font-size: 0.7em;
	line-height: 20px;
	width: 88%;
	font-weight: 400;
	color: #808080;
}
.The_time{
	display: none;
}